@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap')
@import 'variables'
@import 'Attribution'
@import 'title'
@import 'card'
@import 'desktop'

body
    margin: 0
    font-size: 15px
    font-family: 'Poppins'
    color: color_neutral_first
    background-color: color_neutral_third
    
    .main-container
        display: flex
        flex-direction: column
        align-items: center
