@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap')
@import 'variables'
@import 'Attribution'
@import 'title'

body
    margin: 0
    font-size: 15px
    font-family: 'Poppins'

.main-container
    display: flex
    flex-direction: column
    align-items: center
    .title-container 
        .title
            font-size: 1.5rem
    .title-single
        font-weight: 200