@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.title-container .title {
  font-size: 1.5rem;
  margin: 0px 0 10px 0;
}
.title-container .title.title-single {
  font-weight: 200;
  margin: 0;
}
.title-container p {
  margin: 10px 25px 40px 40px;
  font-weight: 200;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  position: relative;
  background-color: #fafafa;
}
.card-container .card-title {
  font-weight: 600;
  margin: 20px 0px 5px 20px;
}
.card-container .card-parraf {
  margin: 5px 25px 5px 20px;
  font-size: 0.8rem;
}
.card-container .card-icon {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 5px 20px 10px 0px;
}
.card-container.supervisor {
  border-top: 5px solid #45d3d3;
  box-shadow: 5px 5px 10px #a3a5ae;
}
.card-container.supervisor .card-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-image: url("../images/icon-supervisor.svg");
}
.card-container.team-builder {
  border-top: 5px solid #ea5353;
  box-shadow: 5px 5px 10px #a3a5ae;
}
.card-container.team-builder .card-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-image: url("../images/icon-team-builder.svg");
}
.card-container.karma {
  border-top: 5px solid #fcaf4a;
  box-shadow: 5px 5px 10px #a3a5ae;
}
.card-container.karma .card-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-image: url("../images/icon-karma.svg");
}
.card-container.calculator {
  border-top: 5px solid #549ef2;
  box-shadow: 5px 5px 10px #a3a5ae;
}
.card-container.calculator .card-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-image: url("../images/icon-calculator.svg");
}
@media screen and (min-width: 1279px) {
  .title-container {
    width: 500px;
  }
  .title-container .title {
    font-size: 2rem;
  }
  .cards-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
  }
  .cards-container .card-container.supervisor {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .cards-container .card-container.team-builder {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .cards-container .card-container.karma {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .cards-container .card-container.calculator {
    grid-column: 3/4;
    grid-row: 2/4;
  }
}
body {
  margin: 0;
  font-size: 15px;
  font-family: 'Poppins';
  color: #4c4e61;
  background-color: #fafafa;
}
body .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
