.title-container 
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 40px
    & .title
        font-size: 1.5rem
        margin: 0px 0 10px 0
    & .title.title-single
        font-weight: 200
        margin:0
    & p
        margin: 10px 25px 40px 40px
        font-weight: 200