color_first= hsl(0, 78%, 62%)
color_second= hsl(180, 62%, 55%)
color_third=hsl(34, 97%, 64%)
color_fourth= hsl(212, 86%, 64%)
color_neutral_first=hsl(234, 12%, 34%)
color_neutral_second=hsl(229, 6%, 66%)
color_neutral_third=hsl(0, 0%, 98%)